.courseComponent{
    border: 1px solid #fec600;
    background: gray;
    color: #fec600;
    padding: 10px;
    margin: 0 0 20px 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.courseComponent img{
    height: 200px;
    width: 300px;
    align-self: center;
}
.course-detail{
    margin-left: 20px;
}
.course-detail h2{
    font-size: 28px;
}